<h1>Admin super seekret section</h1>

<h2><%= @current_edition.registrants.active.count %> total active registrants</h2>
<table>
  <tbody>
    <tr>
      <th><%= @current_edition.registrants.placed.count %></th>
      <td>Placed</td>
    </tr>
    <tr>
      <th><%= @current_edition.registrants.unplaced.count %></th>
      <td>Unplaced</td>
    </tr>
    <tr>
      <th><%= @current_edition.registrants.cancelled.count %></th>
      <td>Cancelled</td>
    </tr>
    <tr>
      <th><%= @current_edition.registrants.waitlisted.count %></th>
      <td>Waitlisted</td>
    </tr>
  </tbody>
</table>

We need info for <%= Registrant.where(edition_id:2, bringing_laptop:nil).count %> registrants:

<ul>
  <% Registrant.where(edition_id:2, bringing_laptop:nil).each do |registrant| %>
    <li><%= registrant.email %></li>
  <% end %>
</ul>

We need <%= Registrant.where(edition_id:2, bringing_laptop: false).count %> laptops

<h2>List</h2>
<ul class="nav nav-tabs">
  <li><a href="#placed" data-toggle="tab">placed</a></li>
  <li class="active"><a href="#unplaced"  data-toggle="tab">unplaced</a></li>
  <li><a href="#cancelled" data-toggle="tab">cancelled</a></li>
  <li><a href="#waitlisted" data-toggle="tab">waitlisted</a></li>
</ul>
<div class="tab-content">
  <div id="placed" class="tab-pane fade">
    <%= render 'registrant_list', list: @current_edition.registrants.placed %>
  </div>

  <div id="unplaced" class="tab-pane fade in active">
    <%= render 'registrant_list', list: @current_edition.registrants.unplaced %>
  </div>

  <div id="cancelled" class="tab-pane fade">
    <%= render 'registrant_list', list: @current_edition.registrants.cancelled %>
  </div>

  <div id="waitlisted" class="tab-pane fade">
    <%= render 'registrant_list', list: @current_edition.registrants.waitlisted %>
  </div>
</div>
