<%= simple_form_for :registrant, url: registrants_path, remote: true, html: {class: 'questions-form' } do |f| %>
  <%= f.hidden_field :name, id: :registrant_hidden_name %>
  <%= f.hidden_field :email, id: :registrant_hidden_email %>
  <fieldset id='question-1' class='hidden-fieldset'>
    <h2 class="fs-title"><%= t('.tell_us')%></h2>
    <h3 class="fs-subtitle"><%= t('.programming')%></h3>
    <%= f.input :programmed_before, label: false, as: :radio_buttons %>
  </fieldset>
  <fieldset id='question-2' class='hidden-fieldset'>
    <h2 class="fs-title"><%= t('.tell_us')%></h2>
    <h3 class="fs-subtitle"><%= t('.rails')%></h3>
    <%= f.input :rails_before, label: false, as: :radio_buttons %>
  </fieldset>
  <fieldset id='question-3' class='hidden-fieldset'>
    <h2 class="fs-title"><%= t('.tell_us')%></h2>
    <h3 class="fs-subtitle"><%= t('.laptop')%></h3>
    <%= f.input :bringing_laptop, label: false, as: :radio_buttons %>
  </fieldset>
  <fieldset id='question-4' class='hidden-fieldset'>
    <h2 class="fs-title"><%= t('.tell_us')%></h2>
    <h3 class="fs-subtitle"><%= t('.language')%></h3>
    <%= f.input :language, label: false, collection: [[t('.english'), :english], [t('.french'), :french], [t('.either'), :either]], as: :radio_buttons %>
  </fieldset>
  <fieldset id='question-5' class='hidden-fieldset'>
    <h2 class="fs-title"><%= t('.anything_else')%></h2>
    <h3 class="fs-subtitle"><%= t('.needs')%></h3>
    <%= f.input :special_needs, label: false, as: :text %>
    <%= f.submit t('.complete'), :class => "btn btn-success" %>
  </fieldset>
<% end %>

