<%= simple_form_for :registrant , html: {class: 'registration-form' } do |f| %>
  <fieldset>
    <h2 class="fs-title">Tell us about yourself</h2>
    <h3 class="fs-subtitle">Have you programmed before?</h3>
    <%= f.input :programmed_before, collection: [:yes,:no], as: :radio_buttons %>
  </fieldset>
  <fieldset>
    <h2 class="fs-title">Tell us about yourself</h2>
    <h3 class="fs-subtitle">Have you used Ruby before?</h3>
    <%= f.input :ruby_before, collection: [:yes,:no], as: :radio_buttons %>
  </fieldset>
  <fieldset>
    <h2 class="fs-title">Tell us about yourself</h2>
    <h3 class="fs-subtitle">Have you used Ruby on Rails before?</h3>
    <%= f.input :rails_before, collection: [:yes,:no], as: :radio_buttons %>
  </fieldset>
  <fieldset>
    <h2 class="fs-title">Tell us about yourself</h2>
    <h3 class="fs-subtitle">Have you used Ruby on Rails before?</h3>
    <%= f.input :rails_before, collection: [:yes,:no], as: :radio_buttons %>
  </fieldset>
  <fieldset id='laptop-question'>
    <h2 class="fs-title">Tell us about yourself</h2>
    <h3 class="fs-subtitle">Will you be bringing a laptop?</h3>
    <%= f.input :rails_before, collection: [:yes,:no], as: :radio_buttons %>
  </fieldset>
<% end %>

