<% content_for :summary do %>
  <div class="row vertically-centered">
    <div class="col-md-12">
      <%= simple_form_for :registrant, url: validate_email_registrants_url, remote: true, html: {class: "form-inline edit-form"} do |f| %>
        <%= f.input :email, label: false, placeholder: 'email', input_html: { value: @email_param } %>

        <button class="btn btn-success" type="submit">
          <i class="fa fa-rocket"></i> <%= t('.start_questionnaire') %>
        </button>
        <%= link_to cancel_registrants_url, id: 'cancel', class:'btn btn-danger',  data: { confirm: t('.confirm') } do %>
          <i class="fa fa-minus-circle"></i> <%= t('.cancel_action') %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
