<% content_for :tagline do %>
  <%= t('.title') %>
<% end %>

<% content_for :summary do %>
  <h2><%= t('.event.title') %></h2>
  <ul>
    <% t('.event.dates').each_line do |date| %>
      <li><%= date.html_safe %></li>
    <% end %>
  </ul>
<% end %>

<div class="row">
  <div class="col-md-12">
    <p class="lead">
      <%= t('.intro') %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3><%= t('.instructions') %></h3>
    <ul>
      <li><strong><%= t('.level1_name') %></strong>: <%= t('.level1_description') %> </li>
      <li><strong><%= t('.level2_name') %></strong>: <%= t('.level2_description') %></li>
      <li><strong><%= t('.level3_name') %></strong>: <%= t('.level3_description') %></li>
    </ul>

    <p><%= t('.more_levels') %></p>
  </div>

  <div class="col-md-6">
    <h3><%= t('.title') %></h3>
    <div class="well">
      <%= simple_form_for :registrant, url: registrants_path, remote: true, html: {class: "form-inline registration-form"} do |f| %>
        <%= f.input :name, label: false, placeholder: t('.name'), input_html: { data: { errormsg: t('.errors.name') } } %>
        <%= f.input :email, label: false, placeholder: t('.email'), input_html: { data: { errormsg: t('.errors.email') } } %>
        <%= f.input :waitlisted, as: :hidden, input_html: { value: false } %>
        <button class="btn btn-success" type="submit">
          <i class="fa fa-rocket"></i> <%= t('.register') %>
        </button>
      <% end %>
    </div>
    <p><%= t('.general_info') %></p>
    <p><%= t('.questions') %></p>
  </div>
</div>
