<h3 class="page-header"><%=t('registrant.new.title') %></h3>
<h4><%= t('registrant.new.dates')%></h4>
<p class="lead"><%=t('registrant.new.intro') %></p>
<p>
    <%= t('registrant.new.instructions') %>
</p>
  <ul>
    <li><strong><%= t('registrant.new.level1_name') %></strong>: <%= t('registrant.new.level1_description') %> </li>
    <li><strong><%= t('registrant.new.level2_name') %></strong>: <%= t('registrant.new.level2_description') %></li>
    <li><strong><%= t('registrant.new.level3_name') %></strong>: <%= t('registrant.new.level3_description') %></li>
  </ul>
<p><%= t('registrant.new.more_levels') %></p>
<p><%= t('registrant.new.general_info') %></p>

<p><%= t('registrant.new.questions') %></p>

<%= simple_form_for :registrant, url: registrants_path, remote: true, html: {class: "form-inline registration-form"} do |f| %>
  <%= f.input :name, label: false, placeholder: "your name" %>
  <%= f.input :email, label: false, placeholder: "your email" %>
  <button class="btn btn-success" type="submit">
    <i class="fa fa-rocket"></i> Register
  </button>
<% end %>
