<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @registrant.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @registrant.email %>
</p>

<%= link_to 'Edit', edit_registrant_path(@registrant) %> |
<%= link_to 'Back', registrants_path %>
