<div class="banner">
  <div class="container">
    <div class="jumbotron">
      <div class="row registration-row">
        <div class="col-md-6">
          <h1>
            <%= content_for?(:tagline) ? yield(:tagline) : t('.tagline') %>
          </h1>
        </div>
        <div class="col-md-6">
          <% if content_for?(:summary) %>
            <%= yield(:summary) %>
          <% else %>
            <p><%= raw t('.event_description') %></p>
            <p><%= raw t('.event_date') %></p>
            <p>
              <%= link_to register_path, class: 'btn btn-primary btn-lg' do %>
                <i class="fa fa-rocket"></i> <%= t('registrants.new.register') %>
              <% end %>
            </p>
          <% end %>
        </div>
      </div>
      <div class="row questions-row">
        <%= render "registrants/form" %>
      </div>
    </div>
  </div>
</div>
