<div class="container">
  <hr />
  <div class="sponsors">
    <h1><%= t('.sponsored_by') %></h1>

      <h3><%= t('.gold') %></h3>
      <ol class='nav'>
        <div class='row'>
        <li class="sponsor"><%= image_tag 'sponsors/shopify.png', class: 'sponsor-gold' %></li>
        <li class="sponsor"><%= image_tag 'sponsors/google.jpg', class: 'sponsor-gold' %></li>
        </div>
        <div class='row'>
        <li class="sponsor"><%= image_tag 'sponsors/ets.png', class: 'sponsor-gold' %></li>
        <li class="sponsor"><%= image_tag 'sponsors/cedille.png', class: 'sponsor-gold' %></li>
        </div>
      </ol>

      <h3><%= t('.silver') %></h3>
      <ol class='nav'>
        <div class='row'>
        <li class="sponsor"><%= image_tag 'sponsors/adgear.jpg', class: 'sponsor-silver' %></li>
        <li class="sponsor"><%= link_to image_tag('sponsors/civilcode.png',
                                                  class: 'sponsor-silver',
                                                  title: "Studio Civil Code - Tailored Business Applications",
                                                  alt: "CivilCode",
                                                  height: "52"),
                                        "http://www.civilcode.io", style: "padding-top: 4px" %></li>
        <li class="sponsor"><%= image_tag 'sponsors/github.png', class: 'sponsor-silver' %></li>
        </div>
        <div class='row'>
        <li class="sponsor"><%= image_tag 'sponsors/lightspeed.png', class: 'sponsor-silver' %></li>
        <li class="sponsor"><%= image_tag 'sponsors/vigilant_global.png', class: 'sponsor-silver' %></li>
        <li class="sponsor"><%= image_tag 'sponsors/lighthouselabs.png', class: 'sponsor-silver' %></li>
        </div>
        <div class='row'>
        <li class="sponsor"><%= image_tag 'sponsors/taxelco.png', class: 'sponsor-silver' %></li>
        </div>
      </ol>

      <!--
        <h3><%= t('.bronze') %></h3>
        <ol class='nav'>
        </ol>
      -->

  </div>
</div>

<footer id='footer'>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4 class='title'><%= t('.about') %></h4>
        <p><%= raw t('.event_description') %></p>
        <p><%= raw t('.montrealrb', url: link_to('montrealrb.com', 'http://www.montrealrb.com') ) %></p>
        <hr />
        <h4 class='title'><%= t('.photos') %></h4>
        <div class="photos">
          <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?show_name=1&count=9&display=random&size=x&layout=h&source=user&user=120783487%40N08"></script>
        </div>
      </div>
      <div class="col-md-4">
        <h4 class='title'><%= t('.drop_us_a_line') %></h4>
        <%= simple_form_for :message, url: mailer_path, remote: true, html: {class: 'footer-form', role: 'form'} do |f| %>
          <%= f.input :email, label: false, placeholder: t('.message.email') %>
          <%= f.input :message, as: :text, label: false, placeholder: t('.message.body'), input_html: {rows: 6} %>
          <%= content_tag :button, type: "submit", class: "btn btn-success" do %>
            <%= icon_tag 'envelope' %> <%= t('.message.send') %>
          <% end %>
        <% end %>
      </div>
      <div class="col-md-4">
        <a class="twitter-timeline" href="https://twitter.com/RailsbridgeMTL" data-widget-id="397079615627202560"><%= t('.tweets.title') %></a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
  </div>
</footer>
<div class="copyright">
  <div class="container">
    <%= raw t(
      '.github.text',
      pull_request: link_to(t('.github.pull_request'), "https://github.com/railsbridge-montreal/railsbridge-montreal-website/"),
      create_issue: link_to(t('.github.create_issue'), "https://github.com/railsbridge-montreal/railsbridge-montreal-website/issues/new")
    ) %>
  <div class="pull-right">&copy; RailsBridge Montreal <%= Time.now.year %></div>
  </div>
</div>
