<h1><%= t '.title' %></h1>


<p><%= t '.intro' %></p>

<h2><%= t '.all' %></h2>

<p><%= t '.p1' %></p>

<p><%= t '.p2' %></p>

<h2><%= t '.volunteers' %></h2>

<p><%= t('.p3')%></p>

<p><%= t('.particular')%></p>

<p><%= t('.p5')%></p>

<%= simple_format t('.list') %>

<h2><%= t '.what_to_do' %></h2>

<p><%= t('.p4')%></p>

<p><%= t('.p6')%></p>

<h2><%= t('.status')%></h2>

<p><%= t('.p7').html_safe %></p>
