<div class="sponsors">
  <h2>Sponsored by</h2>
  <div class="row">
    <div class="col-md-8">
      <div class="col-md-7">
        <%= image_tag 'http://lorempixel.com/350/100/cats/GoldSponsor/', class: 'sponsor-gold' %>
      </div>
      <div class="col-md-5">
        <%= image_tag 'http://lorempixel.com/250/75/cats/SilverSponsor/', class: 'sponsor-silver' %>
        <%= image_tag 'http://lorempixel.com/250/75/cats/SilverSponsor/', class: 'sponsor-silver' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-6">
          <%= image_tag 'http://lorempixel.com/150/60/cats/BronzeSponsor/', class: 'sponsor-bronze' %>
          <%= image_tag 'http://lorempixel.com/150/60/cats/BronzeSponsor/', class: 'sponsor-bronze' %>
        </div>
        <div class="col-md-6">
          <%= image_tag 'http://lorempixel.com/150/60/cats/BronzeSponsor/', class: 'sponsor-bronze' %>
          <%= image_tag 'http://lorempixel.com/150/60/cats/BronzeSponsor/', class: 'sponsor-bronze' %>
        </div>
      </div>
    </div>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-md-8">
    <h3>Are you eager to learn?</h3>
    <p>
      RailsBridge Montreal aims at democratizing software development. We strive to teach Ruby on Rails to Montrealers of different backgrounds. We want to give everyone the best opportunity to get started.
    </p>
    <h4>Ruby on Rails</h4>
    <p>
      The design philosophy behind the Ruby programming language emphasizes on human, rather than computer needs.  Ruby on Rails, a framework built on top of Ruby, is a pleasure to work with and easy to learn. 
    </p>
    <h4>Teaching & Curriculums</h4>
    <p>
      The curriculums are tailored to every programming level. The first level is targeted at people who never tried software development to help novice start somewhere. The highest level is useful for professional web developers who want to increase their knowledge in the field. The curriculums are adjusted at every event to follow the learning progression of the participants.
    </p>
    <p>
      During the workshop, the number of students assigned to each teacher/TA (teaching assistant) is kept as low as possible so that students have an easy access to experienced developers that can answer their questions. Everything takes place in a casual atmosphere where people learn at their own pace and have fun while doing so.
    </p>
  </div>
  <div class="col-md-4">
    <h3>Venue</h3>
    <iframe width="100%" height='250px' frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=SUPINFO,+666+Sherbrooke+Street+West,+Montreal,+QC&amp;aq=&amp;sll=53.796105,-68.44248&amp;sspn=46.495474,114.169922&amp;t=h&amp;ie=UTF8&amp;hq=SUPINFO,&amp;hnear=666+Sherbrooke+St+W,+Montreal,+Quebec+H3A+0B2&amp;ll=45.505022,-73.573089&amp;spn=0.006295,0.006295&amp;output=embed&amp;z=14&amp;iwloc="></iframe>
    <address>
      <span>SUPINFO</span><br />
      <span>666 Sherbrooke Street West</span><br />
      <span>Montreal, QC</span>
    </address>
  </div>
</div>