<div class="sponsors">
  <h2><%= t('.sponsored_by') %></h2>
  <ol class='nav'>
    <li class="sponsor"><%= image_tag 'sponsors/google.jpg', class: 'sponsor-silver' %></li>
    <li class="sponsor--square"><%= image_tag 'sponsors/mandrill.png', class: 'sponsor-silver' %></li>
    <li class="sponsor"><%= image_tag 'sponsors/shopify.png', class: 'sponsor-silver' %></li>
    <li class="sponsor"><%= image_tag 'sponsors/intello_technologies.jpg', class: 'sponsor-silver' %></li>
  </ol>
  <ol class='nav'>
    <li class="sponsor"><%= image_tag 'sponsors/w3quebec.jpg', class: 'sponsor-bronze' %></li>
    <li class="sponsor"><%= image_tag 'sponsors/code_genome.png', class: 'sponsor-bronze' %></li>
    <li class="sponsor"><%= image_tag 'sponsors/code_rubik.png', class: 'sponsor-bronze' %></li>
    <li class="sponsor"><%= image_tag 'sponsors/code_school.png', class: 'sponsor-bronze' %></li>
  </ol>
</div>
<hr />
<div class="row">
  <div class="col-md-8">
    <h3><%= t('.eager.title') %></h3>
    <%= simple_format t('.eager.body') %>

    <h4><%= t('.ruby_on_rails.title') %></h4>
    <%= simple_format t('.ruby_on_rails.body') %>

    <h4><%= t('.curriculum.title') %></h4>
    <%= simple_format t('.curriculum.body') %>
  </div>
  <div class="col-md-4">
    <h3><%= t('.venue') %></h3>
    <iframe width="100%" height='250px' frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=SUPINFO,+666+Sherbrooke+Street+West,+Montreal,+QC&amp;aq=&amp;sll=53.796105,-68.44248&amp;sspn=46.495474,114.169922&amp;t=h&amp;ie=UTF8&amp;hq=SUPINFO,&amp;hnear=666+Sherbrooke+St+W,+Montreal,+Quebec+H3A+0B2&amp;ll=45.505022,-73.573089&amp;spn=0.006295,0.006295&amp;output=embed&amp;z=14&amp;iwloc="></iframe>
    <address>
      <span><%= t('venue.name') %></span><br />
      <span><%= t('venue.address') %></span><br />
      <span><%= t('venue.city') %></span>
    </address>
  </div>
</div>
