<div class="row">
  <div class="col-md-8">
    <h3><%= t('.eager.title') %></h3>
    <%= simple_format t('.eager.body') %>

    <h4><%= t('.ruby_on_rails.title') %></h4>
    <%= simple_format t('.ruby_on_rails.body') %>

    <h4><%= t('.curriculum.title') %></h4>
    <%= simple_format t('.curriculum.body') %>
  </div>
  <div class="col-md-4">
    <h3><%= t('.venue') %></h3>
    <iframe width="100%" height='250px' frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=École+de+technologie+supérieure,+1100+Rue+Notre-Dame+O,+Montréal,+QC+H3C+1K3&amp;aq=&amp;sll=53.796105,-68.44248&amp;sspn=46.495474,114.169922&amp;t=h&amp;ie=UTF8&amp;hnear=1100+Rue+Notre-Dame+O&amp;ll=45.4946761,-73.5644848&amp;spn=0.006295,0.006295&amp;output=embed&amp;z=14&amp;iwloc="></iframe>
    <address>
      <span><%= t('venue.name') %></span><br />
      <span><%= t('venue.address') %></span><br />
      <span><%= t('venue.city') %></span>
    </address>
  </div>
</div>

