<h1><%= t('.title') %></h1>

<div class="container">

  <h3><%= simple_format t('.installfest.title') %></h3>

  <div class="row">
    <div class="col-md-4">
      <%= l(Time.new(2016, 9, 23, 19), :format => :time) %>
    </div>
    <div class="col-md-7">
      <h4><%= t('.installfest.arrival.title') %></h4>
      <hr>
    </div>
  </div>
  <br/>

  <div class="row">
    <div class="col-md-4">
      <%= l(Time.new(2016, 9, 23, 19, 30), :format => :time) %> - <%= l(Time.new(2016, 9, 23, 20, 30), :format => :time) %>
    </div>
    <div class="col-md-7">
      <h4><%= t('.installfest.installfest.title') %></h4>
      <%= simple_format t('.installfest.installfest.body') %>
      <hr>
    </div>
  </div>
  <br/>

  <div class="row">
    <div class="col-md-4">
      <%= l(Time.new(2016, 9, 23, 20, 30), :format => :time) %> <%= t('.installfest.skills.optional') %>
    </div>
    <div class="col-md-7">
      <h4><%= t('.installfest.skills.title') %></h4>
      <%= simple_format t('.installfest.skills.body') %>
      <hr>
    </div>
  </div>

  <h3><%= simple_format t('.workshop.title') %></h3>

  <div class="row">
    <div class="col-md-4">
      <%= l(Time.new(2016, 9, 23, 8, 30), :format => :time) %>
    </div><!--  class="col-md-4" -->
    <div class="col-md-7">
      <h4>Arrival of participants and breakfast</h4>
      Eat some breakfast, drop your children to the <a href='/childcare'>free childcare</a> and relax a bit
      before we dive into the class. Perhaps chat with somebody new.
      <hr>
    </div><!--  class="col-md-8" -->
  </div><!--  class="col-md-8" -->
  <div class="row">
    <div class="col-md-4">
      <%= l(Time.new(2016, 9, 23, 9), :format => :time) %>
    </div><!--  class="col-md-4" -->
    <div class="col-md-7">
      <h4>A word of introduction</h4>
      We have some annoucements and instructions to give you. The entire team will be officially presented to you.
      <hr>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-4">
      <%= l(Time.new(2016, 9, 23, 9, 15), :format => :time) %> - <%= l(Time.new(2016, 9, 23, 10, 30), :format => :time) %>
    </div><!--  class="col-md-4" -->
    <div class="col-md-7">
      <h4>Class begins</h4>
      We'll work our way through the curriculum.
      Choose between:

      <hr>
      <div class="row">
        <div align="center" class="col-md-4">
          <a href=http://docs.railsbridge.org/ruby/>Ruby</a>
        </div><!--  class="col-md-4" -->
        <div align="center" class="col-md-4">
          <a href=http://docs.railsbridge.org/intro-to-rails>Intro to Rails</a>
        </div><!--  class="col-md-4" -->
        <div align="center" class="col-md-4">
          <a href=http://docs.railsbridge.org/job-board/>Advanced</a>
        </div><!--  class="col-md-4" -->

      </div><!--  class="row" -->
      <hr>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-4">
      <%= l(Time.new(2016, 9, 23, 10, 30), :format => :time) %> - <%= l(Time.new(2016, 9, 23, 10, 45), :format => :time) %>
    </div><!--  class="col-md-4" -->
    <div class="col-md-7">
      <h4>Break</h4>
      Our Gold sponsor, Shopify, will have a table where you can have a chat with them! Ask them about employment and internships.
      <hr>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-4">
      <%= l(Time.new(2016, 9, 23, 12), :format => :time) %> - <%= l(Time.new(2016, 9, 23, 13), :format => :time) %>
    </div><!--  class="col-md-4" -->
    <div class="col-md-7">
      <h4>Lunch</h4>
      Recharge with some lunch before finishing up the curriculum. Food will be provided, thanks to our sponsors!
      There will be a hot meal with vegetarian a vegan options. If you have any allergies, please mention it in your registration.
      <hr>
    </div><!--  class="col-md-8" -->
  </div><!--  class="row" -->
  <br>

  <div class="row">
    <div class="col-md-4">
      <%= l(Time.new(2016, 9, 23, 14, 30), :format => :time) %> - <%= l(Time.new(2016, 9, 23, 14, 45), :format => :time) %>
    </div><!--  class="col-md-4" -->
    <div class="col-md-7">
      <h4>Break</h4>
      Have a snack! We'll have some fruits and refreshments.
      <hr>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-4">
      <%= l(Time.new(2016, 9, 23, 17), :format => :time) %> - <%= l(Time.new(2016, 9, 23, 17, 30), :format => :time) %>
    </div><!--  class="col-md-4" -->
    <div class="col-md-7">
      <h4>Wind-down</h4>
      We'll talk about where you can go from here and say our goodbyes.
      <hr>
    </div><!--  class="col-md-8" -->
  </div><!--  class="row" -->
  <br>

  <div class="row">
    <div class="col-md-4">
      <%= l(Time.new(2016, 9, 23, 17, 30), :format => :time) %> - ? (optional)
    </div><!--  class="col-md-4" -->
    <div class="col-md-7">
      <h4>Afterparty</h4>
      Head to a local bar or restaurant, get some drinks and appetizers, and
      celebrate all the awesome new things you've learned! This is a great chance to
      ask your TAs about what it's like to work as a developer. I'm sure they'd love
      to answer any questions you can throw at them.
      <hr>
    </div><!--  class="col-md-8" -->
  </div><!--  class="row" -->
  <br>






</div><!-- class="container" -->
