<h1 class='page-header'><%= t('.title') %></h1>

<h1>Organizers</h1>

<div class="row">
  <div class="col-md-6">
    <%= team_member_tag name: "Sophie Déziel", avatar: "https://www.gravatar.com/avatar/518cc79aa30503ef2af8214f8060ff66" do %>
      <p>
        Sophie is montreal.rb president and she loves animated gifs, snowboarding, biking and her rabbits. She find that public speaking is very scary and it is for this specific reason she likes it.
      </p>
    <% end -%>
  </div>
  <div class="col-md-6">
    <%= team_member_tag name: "<a href='http://benjamin.thouret.com'>Ben Thouret</a>".html_safe, avatar: "team/ben_thouret.jpg" do %>
      <p>
        Ben fell in love with Ruby On Rails in 2006. He quickly co-founded <%= link_to 'Code Genome', 'http://www.codegenome.com/' %>, one of the first Rails development companies in Montreal. Nowadays, most of his time is dedicated to revolutionizing digital signage at <%= link_to 'Intello', 'http://www.intello.com' %>.
      </p>
    <% end -%>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= team_member_tag name: "Henry Jenkins", avatar: "https://avatars0.githubusercontent.com/u/92489" do %>
      <p></p>
    <% end -%>
  </div>
  <div class="col-md-6">
    <%= team_member_tag name: "Van Duc Nguyen", avatar: "https://www.gravatar.com/avatar/a431a8354943a5d64e56b8b65a0bd582?d=mm&s=100" do %>
      <p></p>
    <% end -%>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= team_member_tag name: "Manon Deloupy", avatar: "http://www.gravatar.com/avatar/58e8cd19f78e039f10b101e39206ca63.jpg?s=100" do %>
    <p>Master student in computer science at <a href="http://www.supinfo.com/">SUPINFO</a>. "I want to be part of RailsBridge because the support of the community is essential when you begin a new language, and that's exactly what's happening here"</p>
    <% end -%>
  </div>
  <div class="col-md-6">
    <%= team_member_tag name: "Mathieu Gagné", avatar: "http://www.gravatar.com/avatar/2898f48c29771384917d840b4f70ae03.jpg?s=100" do %>
      <p>
        Lead Web Developer at <a href='http://www.motioneleven.com'>Motion Eleven</a>. "I want to share my love for Rails, the easiest yet most complete framework for web development out there. Let's demystify it together." Mathieu enjoys a good capuccino on a sunny Sunday morning.
      </p>
    <% end -%>
  </div>
</div>

<hr/>

<h1>Volunteers / Teachers</h1>
TBA
<% if false %>
  <div class="row">
    <div class="col-md-6">
      <%= team_member_tag name: "Christian Blais", avatar: "" %>
    </div>
    <div class="col-md-6">
      <%= team_member_tag name: "Christian Joudrey", avatar: "" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <%= team_member_tag name: "Blanca Mancilla", avatar: "" %>
    </div>
    <div class="col-md-6">
      <%= team_member_tag name: "Kira McLean", avatar: "" %>
    </div>
  </div>
<% end -%>


<h1>Alumni</h1>
<ul>
  <li>Alexandre Croteau-Pothier</li>
  <li>Benjamin Marsteau</li>
  <li>Charles Barbier</li>
  <li>Floh Herra-Vega</li>
  <li>Gary Haran</li>
  <li>Martin Provencher</li>
  <li>Mathieu Baril</li>
  <li>Mathieu Martin</li>
</ul>
